@font-face {
    font-family: "Galano";
    src: url("../fonts/Galano-Grotesque-Bold.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.section {
    padding: 0 !important;
}

/*HOME PAGE*/
nav {
    background: transparent !important;
    box-shadow: none;
    width: auto;
    height: auto;
}

.brand-logo {
    margin-left: 75px;
    padding: 50px 20px 0 20px;
}

.home {
    background-image: url("../Images/10264.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 3%;
}

.home img {
    height: 60px;
    width: auto;
}

.home i {
    transform: scaleX(-1);
}

.home .btn {
    background-color: #FFD506;
    font-size: 3vh;
    top: 45%;
    left: 30%;
}

.btn {
    text-transform: none !important;
    font-family: 'Galano';
}
.btn:hover, .btn-large:hover {
    background-color: rgba(255, 213, 4, 0.993) !important;
}

i.medium {
    font-size: 3rem !important;
}

.kz-hold-and-press {
    text-transform: uppercase;
    position: absolute;
    top: 55%;
    left: 44%;
    font-weight: 500;
}

/*HOME PAGE ENDS*/

/*ABOUT US PAGE*/

.about_us {
    background-size: cover;
    background-position: center;
    height: 90vh;
    padding: 3%;
    padding-left: 7%;
}

.about_us .container {
    padding-top: 10%;
    margin-left: 3%;
}

.abt_content {
    font-size: 2.5vh;
}

.abt_content .btn {
    background-color: #FFD506;
    font-size: 2vh;
}

.about_us img {
    margin-top: 50px;
    height:600px;
    width: auto;
}

.kz-rendering h3 {
    font-family: 'Galano';
}
